body {
  background-color: 'gray';
}

.drawing {
  background: linear-gradient(rgb(6, 0, 28), rgb(11, 0, 48), rgb(6, 0, 28));
}

.game-area {
  width: 450px;
  position: relative;
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.701), 80%, rgba(0, 0, 0, 0));
  font-size: 20px;
  color: #fff;
  position: absolute;
  padding: 10px;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: Arial, Helvetica, sans-serif;
}

.popup {
  position: absolute;
  height: 800px;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  color: #fff;
  padding: 0 0;
}

.question {
  margin-top: 250px;
  margin-bottom: 40px;
}
.answer {
  margin: 50px 0;
  border-radius: 12px;
  padding: 5px 18px;
  font-size: 28px;
  transition-duration: 0.4s;
  background-color: rgb(0, 102, 255);
  color: #fff;
}

.answer:hover {
  background-color: rgb(0, 72, 181);
  color: #fff;
}

.goal-box-begin {
  margin: 40px auto;
}

.goal-star-begin {
  display: none;
  width: 120px;
  margin: 40px auto;
}

.play-pause {
  font-size: 28px;
  font-weight: 900;
  color: 'white';
}

.pause {
  display: none;
}

.timer {
  color: rgb(255, 255, 255);
  font-weight: normal;
  text-align: center;
  font-size: 48px;
  padding-top: 10px;
}

.goal-box {
  justify-self: end;
}

.goal-star {
  display: none;
  width: 60px;
}

.level-name {
  text-align: center;
}
